.header-side{
    height: 200px;
    width: 1100px;
    background-color: white;
    text-align: center;
    margin-left: 80px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.header-body{
    display: flex;
}
.header-nav nav a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    color: black;
}
.header-nav nav{
    margin-left: 150px;
}
.header-nav nav a:hover{
    background-color: rgb(87, 99, 97);
    border-radius: 3px;
}
.header-text{
    margin-left: 50px;
}